[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.2.13
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = https://github.com/glennrp/libpng.git
	branch = v1.6.38
